<h1 [class.text-red] = 'bool'>Angular App</h1>
<!-- Template Variables -->
<input type="text" (keyup.enter) = 'onKeyup(username.value)' #username>
<!-- Two Way Data Binding -->
<input type="text" [(ngModel)] = 'userName'  (keyup.enter) = 'onKeyUP()' >

<br/>
<!-- Class binding -->
<h1 [class.text-red] = 'bool'>Angular App</h1>
<!-- Styles binding -->
<h1 [style.color] = '!bool ? "red" : "blue"'>Style Binding</h1>
<!-- Event binding -->
<button (click)="buttonClick()">Click me!</button>
<!-- Event filtering -->
<input type="text" (keyup)='onKeyUp_old($event)' />
<input type="text" (keyup.enter)='onKeyUp()' />
<!-- String Interpolation -->
<p>{{ msg }}</p>

<!-- String Interpolation -->
<img src="{{ imgUrl }}" alt="Angela">
<!-- Property Binding -->
<img [src]="imgUrl" alt="Angela">


<br/>
<p>{{ message }}</p>

<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)='receiveMessage($event)'></app-post>
<p>{{ fromChildOutput }}</p>